.posts {
  display: flex;
  flex-direction: column;
  margin: 40px 0px;
}

.fakNewsLogo {
  width: 400px;
  margin: 0 auto;
}

/* RESPONSIVE */

/*TABLET*/

@media screen and (max-width: 768px) {
  .posts {
    margin: 20px 0;
  }

  .fakNewsLogo {
    width: 300px;
    margin: 0 auto;
  }
}

/* MOBILE */
@media screen and (max-width: 480px) {
  .posts {
    margin: 10px 0;
  }

  .fakNewsLogo {
    width: 200px;
    margin: 0 auto;
  }
}
