.adminTitle {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 40px;
  font-size: 4rem;
}

.userTable {
  border: 2px solid var(--main-red-color);
  padding: 10px;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}

.userTable td {
  border: none;
  padding: 5px 10px;
}

.userTable th {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 5px 10px;
}

.adminButton {
  background-color: rgb(53, 52, 52) !important;
}
.userTable td button {
  background-color: var(--main-red-color);
}

.userTable td button:hover {
  border: 1px solid #fff;
}

@media screen and (max-width: 820px) {
  .userTable {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 420px) {
  .adminTitle {
    font-size: 2.3rem;
  }

  .userTable td,
  .userTable th {
    font-size: 0.5rem;
  }

  .userTable {
    width: 300px;
    margin: 0 auto;
  }

  .userTable th {
    margin: 0px;
    padding: 0px 2px;
  }

  .userTable th {
    padding: 1px 8px;
    border-radius: 5px;
  }

  .userTable td {
    text-align: center;
  }

  .userTable td img {
    max-width: 15px;
  }

  .userTable td button {
    font-size: 0.5rem;
    padding: 2px;
    border-radius: 5px;
  }

  .adminTableBio,
  .adminTableEmail {
    display: none;
  }
}
