.mainAbout {
  --main-red-color: #a9191f;
  --dark-grey-color: #2d2d2d;
  --light-grey-color: #b8b8b8;
  font-family: "Lato", sans-serif;
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  padding: 40px 0px;
  margin: 50px 0px;
  text-align: center;
  background-color: var(--dark-grey-color);
  color: #fff;
  width: 75vw;
}
.titlePageAbout {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
  border-bottom: 5px solid#a9191f;
}

.presentation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 40px;
  padding: 1rem;
  width: 90%;

  border-radius: 25px;
  background-color: #2d2d2d;
  color: white;
}
.acounting {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.acountingH2 {
  color: white;
  padding: 0 40px 20px 40px;

  margin: 0 100px 40px 100px;
  border-bottom: 3px solid #a9191f;
}
.accountCards {
  display: flex;
  justify-content: space-around;
}
.acountCard {
  display: flex;
  flex-direction: column;

  padding: 20px;
  width: 200px;
  height: 200px;
  background-color: #2d2d2d;
  color: white;
  text-align: center;
  border: 3px solid white;
  box-shadow: var(--box-shadow);
  border-radius: 60px;
}
.acountCard:hover {
  border: 3px solid var(--main-red-color);
}
.acountH3 {
  color: white;
  font-size: 3rem;
  /* background-color:#a9191f ; */
  padding: 1rem 1rem 0 1rem;
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .mainAbout {
    padding: 40px;
    width:85vw;
    margin: 0 auto;
  }

  .titlePageAbout {
    font-size: 2rem;
    padding: 1rem;
  }

  .presentation {
    margin: 20px 40px 30px 10px;
    width: none;
    font-size: 0.9rem;
  }
  .acounting {
    align-items: center;
  }
  .acountingH2 {
    font-size: 1.5rem;
  }

  .accountCards {
    flex-direction: column;
    align-items: center;
    margin: 40px;
  }

  .acountCard {
    width: 100%;
    margin: 10px 0;
  }
}
